<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Calendar</title>

    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/footer.css">
    <link rel="stylesheet" href="assets/css/Login-Animate.css">
    <link rel="stylesheet" href="assets/css/nav.css">
    <link rel="stylesheet" href="assets/css/styles.css">

  <link rel="stylesheet" href="assets/css/jquery-ui.structure.min.css">
  <link rel="stylesheet" href="assets/css/jquery-ui.theme.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  

  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-firestore.js"></script>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  

</head>
<body>
  <form id="submit_date">

    <p>Date: 
        <input type="text" name="bookdate" id="datepicker">

        <input type="hidden" value="<%= receiptid%>" name="userid">
    </p>

<button>Submit</button>
    <button>Cancel</button>


    </form>

<script>
 


   $( function() {
    $( "#datepicker" ).datepicker({
        numberOfMonths:1,
        changeYear:true,
        changeMonth:true,
        minDate:0
    });
  } ); //Jquery for calendar

  
 
 
  const form = document.querySelector('#submit_date');
  
  form.addEventListener('submit',(e)=> {
     // alert(form.bookdate.value);
      var data ={
        userId: form.userid.value,
        date: form.bookdate.value
      }
      fetch('https://mtboxing.herokuapp.com/data',{
        method: 'POST', 
        headers: {
          'Content-Type': 'application/json'
        },        
        body: JSON.stringify(data) // body data type must match "Content-Type" header
      })
       .then((response) => {
        alert("We will notify you if you got challenged on that day.");
        
        // close automatically

    });
  });

</script>


 
 
</body>
</html>